.gameCardsContainer {
  margin: 0 auto;
  width: 80%;
  margin-top: 25px;
  color: #3d52a0;
  columns: 4;
  column-width: 100%;
}

.gameCard {
  background-color: #ede8f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  page-break-inside: avoid;
}

.gameCard:hover {
  transform: scale(1.12);
  transition: 0.3s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.cardImg {
  text-align: center;
}

.cardImg img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gameCard h2 {
  text-align: center;
  color: black;
  margin: 5px 10px;
}

.gameCard h4 {
  margin: 5px 15px;
}

.gameCard button {
  border: none;
  background: none;
  padding-bottom: 5px;
}

.gameCard button:hover {
  cursor: pointer;
}

.gameCard button i {
  color: red;
}

.platformIcons {
  display: flex;
  justify-content: space-evenly;
  height: 25px;
  align-items: center;
  margin-top: 10px;
}

.gameCardButtonContainer {
  text-align: right;
}

.fa-playstation {
  color: blue;
}

.fa-xbox {
  color: green;
}

.fa-computer {
  color: black;
}
