header {
  background: url(https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpghttps://t3.ftcdn.net/jpg/02/42/75/76/360_F_242757656_LYhzT9Kzxb5XdOsNY6SYSyroxMzZBeRN.jpg);
  border: 1px solid #ede8f5;
  padding: 7px;
  font-family: "Tiny5", sans-serif;
  font-size: larger;
  display: flex;
  position: relative;
}

header img {
  width: 75px;
}

div.headerLeft,
div.headerRight {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header button {
  font-family: "Tiny5", sans-serif;
  background-color: #ede8f5;
}

.headerLeftBottom p,
.headerLeftTop p {
  margin: 0;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #49218b;
}

@media only screen and (max-width: 550px) {
  .headerLeft img {
    width: 65px;
  }
  .headerLeft p {
    font-size: smaller;
  }
  header button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .headerLeft img {
    width: 55px;
  }

  .headerLeft p {
    font-size: 14px;
  }

  header button {
    font-size: 12px;
  }
}
