header {
  background-color: #7091e6;
  border: 1px solid #ede8f5;
  padding: 15px;
  font-family: "Tiny5", sans-serif;
  font-size: larger;
  display: flex;
}

header img {
  width: 100px;
}

div.headerLeft,
div.headerRight {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.headerRight {
  position: relative;
}

header button {
  font-family: "Tiny5", sans-serif;
  background-color: #ede8f5;
}
