.modalOn {
  display: block;
  position: absolute;
  right: 15px;
  height: 100%;
  top: 0;
  width: 20%;
  transition: opacity 0.3s ease-in;
}

.modalOff {
  position: absolute;
  right: 15px;
  width: 30%;
  top: 0;
  height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuModal {
  height: 100%;
  background-color: #ede8f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.menuModal p {
  margin: 0;
  font-size: smaller;
}

.menuModal a {
  text-decoration: none;
}

.gameCardModalOff {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
}

.gameCardModalOn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 0; */
  width: 30%;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.deleteCardConfirmation {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  width: 400px;
  height: 150px;
  background-color: #ede8f5;
  box-shadow: rgba(227, 34, 34, 0.4) 0px 0px 0px 2px,
    rgba(214, 19, 54, 0.65) 0px 4px 6px -1px, rgb(255, 36, 36) 0px 1px 0px inset;
}

.deleteCardConfirmation button {
  font-family: "Tiny5", sans-serif;
  background-color: #ede8f5;
  padding: 5px 10px;
}

.deleteCardConfirmation button:first-of-type:hover {
  background-color: red;
}

.deleteCardConfirmation button:last-of-type:hover {
  background-color: green;
}

.deleteCardConfirmation button:hover {
  cursor: pointer;
}

.deleteConfirmationButtons {
  display: flex;
  justify-content: space-around;
}

.statusEditModalOn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 30%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
}

.statusEditModalOff {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
}

.newStatusModalOn {
  display: block;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  width: 400px;
  height: 150px;
  background-color: #ede8f5;
  box-shadow: rgba(227, 34, 34, 0.4) 0px 0px 0px 2px,
    rgba(214, 19, 54, 0.65) 0px 4px 6px -1px, rgb(255, 36, 36) 0px 1px 0px inset;
}

.newStatusModalOff {
  display: none;
}

.gameNoteModalOn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 30%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
}

.gameNoteModalOff {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.deleteNoteModalOn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 30%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
}

.deleteNoteModalOff {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 0;
  left: 0;
  right: 0;
  margin: auto;
}
