.modalOn {
  display: block;
  position: absolute;
  right: 15px;
  height: 100%;
  top: 0;
  width: 30%;
  transition: opacity 0.3s ease-in;
}

.modalOff {
  position: absolute;
  right: 15px;
  width: 30%;
  top: 0;
  height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuModal {
  height: 100%;
  background-color: #ede8f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.menuModal p {
  margin: 0;
  font-size: smaller;
}

.menuModal a {
  text-decoration: none;
}
