.gameCardModalOn,
.statusEditModalOn,
.noteEditModalOn,
.deleteNoteModalOn {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.statusEditModalOn,
.noteEditModalOn,
.noteDeleteModalOn {
  padding: 15px;
}

.gameCardModalOff,
.statusEditModalOff,
.noteEditModalOff,
.deleteNoteModalOff {
  display: none;
}

.menuModalOn p {
  margin: 5px;
  font-size: smaller;
  color: black;
}

.menuModalOn a {
  text-decoration: none;
}

.deleteCardConfirmationOn,
.newStatusModalOn,
.noteEditConfirmationOn,
.deleteNoteConfirmOn {
  margin: 0 auto;
  border: 1px solid #ede8f5;
  background-color: #7091e6;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -13px 15px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -26px 20px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -59px 30px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 10px 8px, rgba(0, 0, 0, 0.09) 0px 22px 10px;
  display: block;
  padding: 15px;
  text-align: center;
  min-width: 400px;
  min-height: 150px;
}

.deleteCardConfirmationOn button,
.newStatusButtons button,
.noteEditConfirmationOn button,
.noteDeleteConfirmationButtons button {
  font-family: "Tiny5", sans-serif;
  background-color: #ede8f5;
  padding: 5px 10px;
  margin-top: 5px;
}

.deleteCardConfirmationOn button:first-of-type:hover,
.newStatusButtons button:last-of-type:hover,
.noteEditConfirmationOn button:last-of-type:hover,
.noteDeleteConfirmationButtons button:first-of-type:hover {
  background-color: red;
}

.deleteCardConfirmationOn button:last-of-type:hover,
.newStatusButtons button:first-of-type:hover,
.noteEditConfirmationOn button:first-of-type:hover,
.noteDeleteConfirmationButtons button:last-of-type:hover {
  background-color: green;
}

.deleteCardConfirmation button:hover,
.newStatusButtons button:hover,
.noteEditConfirmationOn button:hover,
.noteDeleteConfirmationButtons button:last-of-type:hover {
  cursor: pointer;
}

.deleteConfirmationButtons,
.newStatusButtons,
.noteEditButtons,
.noteDeleteConfirmationButtons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  margin-top: 25px;
}

.newStatusModalOn select {
  background-color: #a0b4ef;
  border: 1px solid #ede8f5;
  width: 40%;
}

.newStatusModalOn option {
  text-align: center;
}

/* MENU MODAL */
/* MENU MODAL */
/* MENU MODAL */

.modalOn {
  display: block;
  position: absolute;
  right: 0px;
  right: 13px;
  top: -2px;
  width: 15%;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.menuModalOn {
  height: 200px;
  width: 100%;
  padding: 7px;
  text-align: center;
  background-color: #ede8f5;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: flex;
  justify-content: space-between;
}

.modalOff,
.menuModalOff {
  width: 0;
  height: 0;
  opacity: 0;
}

.deleteNoteConfirmOn {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .deleteCardConfirmationOn,
  .newStatusModalOn,
  .noteEditConfirmationOn,
  .deleteNoteConfirmOn {
    min-width: 300px;
    min-height: 150px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .deleteCardConfirmationOn,
  .newStatusModalOn,
  .noteEditConfirmationOn,
  .deleteNoteConfirmOn {
    min-width: 200px;
    min-height: 150px;
    max-width: 300px;
  }

  #newStatusSelect {
    width: 100%;
  }

  .newStatusButtons,
  .noteEditButtons,
  .noteDeleteConfirmationButtons,
  .deleteConfirmationButtons {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .deleteCardConfirmationOn,
  .newStatusModalOn,
  .noteEditConfirmationOn,
  .deleteNoteConfirmOn {
    min-width: 100px;
    min-height: 150px;
    max-width: 200px;
  }
}

@media only screen and (max-width: 300px) {
  .deleteCardConfirmationOn,
  .newStatusModalOn,
  .noteEditConfirmationOn,
  .deleteNoteConfirmOn {
    min-width: 100px;
    min-height: 150px;
    max-width: 150px;
  }
}
