.pageHeadContainer {
  font-family: "Tiny5", sans-serif;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f67aa;
}

.pageHeadContainer h1 {
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #49218b;
}

.pageHeadRight {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonOn,
.buttonOff {
  font-family: "Tiny5", sans-serif;
  padding: 5px 10px;
  margin: 5px;
  margin-bottom: 0;
}

.allGamesButton {
  margin-left: 25px;
}

.buttonOff {
  background-color: #363538;
  color: #ede8f598;
}

.buttonOn {
  background-color: #ede8f5;
}

.pageHeadRight input {
  background-color: #7091e6;
}

@media only screen and (max-width: 768px) {
  .pageHeadContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .pageHeadRight {
    align-self: start;
    margin-top: 20px;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 550px) {
  .buttonOn,
  .buttonOff {
    padding: 2px 4px;
  }

  .allGamesButton {
    margin-left: 5px;
  }

  .pageHeadRight {
    width: 100%;
  }

  .pageHeadRight input {
    width: 100%;
  }
}
