:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4f67aa;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* 3D52A0 = darkest
7091E6 = header
8697C4 = gray/blue (more blue) (background)
ADBBDA = gray/blue (more gray)
EDE8F5 = white/gray */
